<!--Footer-->
<footer class="page-footer footer pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <div class="col-sm">
        </div>
        <!-- Grid column -->
        <div class="col-sm logo-column">
          <i class="logo fas fa-broadcast-tower"></i>
        </div>
        <!-- Grid column -->
        <div class="col-sm">
        </div>
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://github.com/CateRios"> Caterina Ríos</a>
    </div>
    <!-- Copyright -->
  </footer>