<div class="col card">
    <h2>Producto</h2>
    <img class="img-fluid" src="/images/placeholder.png" />
    <p>Descripción del producto</p>
    <button type="button" class="btn btn-moreInfo">Más información</button>
</div>