<div class="row user-row">
    <div class="col"><img class="img-fluid" src="/images/userDummy.png" /></div>
    <div class="col">
        <h2><%= r.name %></h2>
        <p><%= r.email %></p>
    </div>
</div>
<br>