<div class="row user-row">
    <div class="col-12"><img class="img-fluid" src="/images/userDummy.png" /></div>
    <div class="col-12">
        <h2>Nombre de usuario: <div clas="user-name"><%= r.name %></div></h2>
        <p>Correo electrónico: <%= r.email %></p>
    </div>
</div>
<br>