<div class="row user-row">
    <div class="col-md-3"><img class="img-fluid" src="/images/userDummy1.jpg" /></div>
    <div class="col-md-3 d-flex justify-content-center">
        <h2><%= r.name %></h2>
        <p>Correo electrónico: <%= r.email %></p>
    </div>
    <div class="col-md-2"><button type="button" class="btn btn-login">Ver detalles</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-login">Modificar</button></div>
    <div class="col-md-2"><button type="button" class="btn btn-login">Eliminar</button></div>
</div>
<br>