<div class="row user-row">
    <div class="col-md-3"><img class="img-fluid" src="/images/userDummy1.jpg" /></div>
    <div class="col-md-6 justify-content-center my-auto">
        <h2><%= r.name %></h2>
        <p>Correo electrónico: <%= r.email %></p>
    </div>
    <div class="col-md-1 justify-content-center my-auto"><button type="button" class="btn btn-details">Detalles</button></div>
    <div class="col-md-1 justify-content-center my-auto"><button type="button" class="btn btn-modify">Modificar</button></div>
    <div class="col-md-1 justify-content-center my-auto"><button type="button" class="btn btn-delete">Eliminar</button></div>
</div>
<br>