<!DOCTYPE html>
<html>

<head>
  <%- include partials/head %>
  <!--Hoja de estilo-->
  <link rel='stylesheet' href='/stylesheets/index.css' />
</head>

<body>
  <div class="container-fluid">

    <!--Navbar-->
    <%- include partials/navbar %>

    <div class="row">
      <div class="col-md-6">
        <!--Carousel-->
        <div id="carouselExampleControls" class="carousel vert slide col" data-ride="carousel" data-interval="3000">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block mx-auto img-fluid" src="/images/slide1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block mx-auto img-fluid" src="/images/slide2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block mx-auto img-fluid" src="/images/slide3.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block mx-auto img-fluid" src="/images/slide4.jpg" alt="Fourth slide">
            </div>
          </div>
        </div>
        <!--Carousel-->
      </div>




      <div class="col-md-6">
        <!--Text-->
        <div class="col description">
          <div class="row">
            <h2>La primera empresa del sector en dar todo a euro</h2>
          </div>
          <div class="row">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum."</p>
          </div>
          <div class="row"><button type="button" class="btn btn-start">Comienza ya</button></div>
        </div>
        <!--Text-->
      </div>
    </div>




    <!--Footer-->
    <br><%- include partials/footer %>

  </div>

</body>




</html>