@import "style.css";

/*=============== BODY ===============*/

.principal{
  padding: 3%;
}

.btn-start{
    background-color: var(--purple);
}

.btn-start:hover{
    background-color: var(--orange);
    color: var(--white);
}

.carousel{
  margin-top: 3%;
}
   
.carousel-item{
  width: 100% !important;
  height: auto;
}

  .carousel-content {
    position: absolute;
    text-align: center;
    font-weight: bolder;
    bottom: 30%;
    left: 35%;
    z-index: 20;
    color: var(--white);
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: var(--orange);
  }

  .subtitle{
    font-style: italic;
    left: 30%;
    bottom: 20%;
    position: absolute;
    width: fit-content;
    color: var(--white);
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: var(--orange);
  }

  .carousel-indicators{
    visibility: hidden;
  }
  
  .vert .carousel-item-next.carousel-item-left,
  .vert .carousel-item-prev.carousel-item-right {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .vert .carousel-item-next,
  .vert .active.carousel-item-right {
      -webkit-transform: translate3d(0, 100%, 0);
              transform: translate3d(0, 100% 0);
  }
  
  .vert .carousel-item-prev,
  .vert .active.carousel-item-left {
  -webkit-transform: translate3d(0,-100%, 0);
          transform: translate3d(0,-100%, 0);
  }
  
  .description{
    padding: 10%;
  }
  
  .description h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: lighter;
    text-align: center;
  }
  
  .description p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    margin-top: 3%;
  }
  
  .description button{
    text-align: center;
    margin-inline-start: 40%;
  }
